
<header id="header">

  <nav id="nav" class="">
    <ul>
      <li>
        <a ng-bind="header.pages.home"
           class="page-link"
           ui-sref-active="active-page"
           ui-sref="app.home">
        </a>
      </li>
      <li>
        <a ng-bind="header.pages.about"
           class="page-link"
           ui-sref-active="active-page"
           ui-sref="app.about">
        </a>
      </li>
    </ul>
  </nav>

  <div
    ng-bind="header.appName"
    id="banner-logo">
  </div>

</header>
